* {
    /*Inkludera padding och border i elementens totala storlek*/
    box-sizing: border-box;
    margin: 0;
}

body {
    /*Sätter footern alltid längst ner på sidan*/
    min-height: 99vh;
    /*Gör så att header ligger överst, main i mitten och footer längst ner*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    text-align: center;
}