* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    text-align: center;
    bottom: 0;
}

