/* Modal för varukorgen */
#cart-dialog {
    /*Modalen centreras på skärmen*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 50vh;
    margin: 0;
    /* Gör så att modalen ligger över annat innehåll */
    z-index: 1000;
     /* Skapar en mörk bakgrund över hela sidan */ 
    box-shadow: 0 0 0 100vmax 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px;
    /*Gör dialogrutan scroll-bar när innehållet överstiger höjden*/
    overflow-y: auto;
}

#product-name {
    font-weight: bold;
    margin-bottom: 0;
}

#cart-header {
    margin-bottom: 10px;
}

#closeButton {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#total-sum {
    font-weight: bold;
    margin-top: 10px;
}

/*Modalen positioneras till höger på skärmen*/
@media (min-width: 1100px) {
    #cart-dialog {
        left: auto;
        right: 0;
        transform: none;
        top: 0;
    }
}