#varukorg {
    cursor: pointer;
    transition: transform 0.2s;
}
#varukorg:hover {
    transform: scale(1.1);
}

#cart-dialog {
    position: fixed;
    top: 80px;
    right: 0;
    height: 50vh;
    width: 320px;
    margin: 0;
    z-index: 1000; 
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5),
        /* Detta skapar en mörk bakgrund över hela sidan! */ rgba(0, 0, 0, 0.25)
            0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px;
        overflow-y: auto;
}

#product-name {
    font-weight: bold;
    margin-bottom: 0;
}

#cart-header {
    margin-bottom: 10px;
}

#closeButton {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#total-sum {
    font-weight: bold;
    margin-top: 10px;
}