#varukorg {
    cursor: pointer;
    transition: transform 0.2s;
}
#varukorg:hover {
    transform: scale(1.1);
}

#cart-dialog {
    position: fixed;
    top: 80px;
    left:  0;
    height: 100vh;
    width: 320px;
    margin: 0;
    border: 2px solid grey
}
