header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#header-buttons {
    display: flex;
    gap: 0.5rem;
    margin: 5px 2px;
}

.header-button {
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}


@media (min-width: 800px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .header-button {
        width: 5rem;
        height: 3rem;
        cursor: pointer;
    }
}

@media (min-width: 1100px) {
    header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
