#main {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

#main-cardInspect {

/* Positionering för att centrera*/

position: fixed;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);


/* Se till att den ligger över allt annat */

z-index: 1000;


/* Utseende */

background-color: white; /* Viktigt, annars blir den genomskinlig */

padding: 30px;

border-radius: 10px; /* Snyggare hörn */


/* Göm den som standard tills man klickar */

display: none;

max-height: 100vh;

width: 90%;

max-width: 500px;


/* Flex inställningar för innehållet */

flex-direction: column;

align-items: center;

justify-content: center;


/* Skugga för att lyfta fram den från bakgrunden */

box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5), /* Detta skapar en mörk bakgrund över hela sidan! */

rgba(0, 0, 0, 0.25) 0px 54px 55px,

rgba(0, 0, 0, 0.12) 0px -12px 30px;

overflow-y: auto;
}



.focused-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#main-cardContainer {
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
 
}

.product-card {
    border: 2px solid black;
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 600px;
    max-width: 350px;

    flex-basis: 350px;
}

.cardPrice {
    font-size: 30px;
}