#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

#main-cardInspect {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.focused-card {
    background: white;
    padding: 30px;
    border-radius: 10px;

    max-width: 500px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
}

#main-cardContainer {
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.product-card {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 600px;
    max-width: 350px;
    flex-basis: 350px;
}

.cardPrice {
    font-size: 30px;
}

#buy-button {
    background-color: rgb(0, 255, 0);
    transition: background-color 0.3s;
}

#buy-button:hover {
    background-color: rgb(0, 200, 0);
}

#buy-button,
#close-button {
    width: 70px;
    height: 25px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.inspect-button {
    cursor: pointer;
}

@media (min-width: 1100px) {
    main {
        margin-left: 100px;
        margin-right: 100px;
    }

    #main-cardContainer {
        justify-content: baseline;
    }
}